<div class="navbar navbar-default navbar-fixed-top" id="main-nav">
    <div class="container desktop">
        <div class="navbar-header">
            <a href="{% url 'posts' %}"><i class="fa fa-home" aria-hidden="true">Home</i></a>
            <!--<i>这个tag里面的是font-awesome的icon-->
        </div>


        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li>
                    Hi, {{ request.user.username }}
                </li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
